ablog==0.10.23
jupyter-sphinx==0.3.2
pandas==1.4.0
plotly==5.5.0
pydata-sphinx-theme==0.8.0
sphinx-panels==0.6.0
sphinxcontrib-bibtex==2.4.1
sphinx-comments>=0.0.3
nox==2022.1.7
sphinx-autobuild
sphinx_panels==0.6.0
sphinxemoji